.DS_Store
node_modules
/build
/.svelte-kit
/.vscode
/package
# .env
# .env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
supervisord.pid
sim.ini
docker-compose.yml
.devcontainer*
.pnpm-store
/www